html{
    scroll-behavior: smooth;
    font-size: 10px;
    color: #515151;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #0F0F0F;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

section{
    padding: 3.9rem 0;
    overflow: hidden;
}

img{
    width: 100%;
    max-width: 100%;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.6rem;
}

.container{
    width: 80%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Navigation Bar */

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item{
    padding: 2rem 0 0 2rem;
}

.nav-item:last-child{
    padding: 2rem 0 2rem 2rem;
}

.logo{
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
    transition: color .5s;
}

.nav-list .logo{
    color: #fff;
}

.fa-bars{
    color: #fff;
    margin-top: 2.7rem;
}

.fa-times{
    display: none;
}

.menu-toggle{
    color: #515151;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.nav-list{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #252525;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}

.nav::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.open .fa-times{
    color: #fff;
    margin-top: 2.7rem;
    display: block;
}

.open .fa-bars{
    display: none;
}

.open .nav-list{
    transform: translateX(0);
}

.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.nav-link{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color .5s;
}

.nav-link:hover,
.logo:hover{
    color: #ED8A4B;
}

/* Hero */

.hero{
    width: 100%;
    height: 85vh;
    max-height: 85vh;
    display: flex;
    align-items: center;
    text-align: left;
}

.hello{
    padding-bottom: 0;
    height: 93vh;
    max-height: 93vh;
}

.hello-desktop{
    display: none;
}

.hello-mobile{
    display: block;
    width: 90vw;
    max-width: 93vw;
    margin-top: auto;
}

/* About Section */

.about-1 p{
    font-family: 'Poppins', sans-serif !important;
    width: 84vw !important;
    letter-spacing: 2px !important;
    text-align: center !important;
    font-weight: 500 !important;
    line-height: 1.3;
}

.about-1 p span{
    color: #515151;
    cursor: pointer;
    font-weight: 900;
    letter-spacing: 3px;
}

.about-1 span,
.card a p{
    cursor: pointer;
    transition: color .5s;
}

.about-1 span:hover,
.card a p:hover{
    color: #ED8A4B;
}

/* Contact Section */

.contact{
    height: 20vh;
    max-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    display: inline-block;
    /* width: 7rem; */
    text-align: center;
    margin-bottom: 1rem;
}

.cta-btn{
    display: table;
    font-size: 1.9rem;
    letter-spacing: 2px;
    font-weight: bold;
    border: 2.5px solid;
    border-color: #ED8A4B;
    padding: 1.3rem 2.4rem;
    color: #fff;
    margin: auto;
    transition: border-color 0.5s;
}

.cta-btn:hover,
.cta-btn:focus{
    border-color: #fff;
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.social-media-icons{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: #fff;
    transition: color 0.5s;
}

.social-media-icons:hover{
    color: #ED8A4B;
}

/* Projects Section */

.projects{
    padding-bottom: 0;
    height: 93vh;
    max-height: 93vh;
}

.projects-desktop{
    display: none;
}

.projects-mobile{
    display: block;
    width: 85vw;
    max-width: 93vw;
    margin-top: auto;
}

.all-projects{
    padding-bottom: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-top: 0rem;
    margin-bottom: 5rem;
    text-align: center;
}

.card p{
    padding-left: 20px;
    padding-right: 20px;
}

.card a{
    color: #515151;
    letter-spacing: 2px;
    font-weight: bold;
}

.title {
  color: grey;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

a:hover {
  opacity: 0.7;
}

/* Pen Paper */

.pen-paper{
    padding-bottom: 0;
    height: 93vh;
    max-height: 93vh;
}

.pen-paper-desktop{
    display: none;
}

.pen-paper-mobile{
    width: 85vw;
    margin-top: auto;
    margin-bottom: 0;
}

/* Poem */

.poem{
    font-family: 'Kalam', cursive;
}

.poem-img{
    margin-bottom: 2rem;
}

.poem p{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

/* Sketches */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 15%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 31%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 45%;
    max-width: 100%;
  }
}
/* *************************************** Desktop *********************************************************************** */

@media screen and (min-width: 900px){

    /* Nav Bar */
    header .container{
        width: 90%;
        max-width: 90%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .menu-toggle{
        display: none;
    }

    .logo{
        margin-top: 0;
    }

    .nav{
        justify-content: space-between;
    }

    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
    }

    .nav-item{
        /* margin-top: 2rem; */
        margin-left: 2.4rem;
        margin-right: 2.4rem;
        font-weight: 500;
        color: #fff;
        border: none;
    }

    .nav-item:last-child{
        margin-right: 2rem;
    }

    .nav-link{
        font-size: 1.7rem;
    }

    .active{
        position: relative;
    }

    .active::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }

    /* Hero */
    .hello-desktop{
        display: block;
        width: 60vw;
        margin: auto;
    }

    .hello-mobile{
        display: none;
    }

    /* About Sectiom */

    .about-1{
        height: 50vh !important;
    }

    .about-1 p{
        font-family: 'Poppins', sans-serif !important;
        width: 50vw !important;
        max-width: 50vw !important;
        text-align: right !important;
        font-size: 2rem !important;
        letter-spacing: 3px !important;
        font-weight: 500 !important;
    }

    .about-1 p span{
        font-weight: 900;
        letter-spacing: 3px;
        color: #515151;
    }

    /* Project Section */
    .projects-desktop{
        display: block;
        width: 65vw;
        margin: auto;
    }

    .projects-mobile{
        display: none;
    }

    .all-projects{
        height: 90vh;
        max-height: 90vh;
        display: flex;
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
    }

    .card p{
        padding-left: 20px;
        padding-right: 20px;
    }

    .title {
      color: grey;
      font-size: 18px;
    }

    a {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }

    /* button:hover,  */
    a:hover {
      opacity: 1;
    }

    /* Pen Paper */
    .pen-paper-mobile{
        display: none;
    }

    .pen-paper-desktop{
        display: block;
        width: 65vw;
        margin: auto;
    }

    /* Poem */

    .poem{
        height: 90vh;
        max-height: 90vh;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .poem .container{
        display: flex;
        width: 90%;
        max-width: 90%;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .poem-img,
    .about-img{
        margin-bottom: 2rem;
         width: 20vw;
         height: 16vw;
         transform: rotate(-90deg);
    }

    .poem p{
        font-size: 2rem;
        font-weight: 400;
        width: 20vw;
        max-width: 20vw;
    }

    /* Contact Section */
    .say-hello-mobile{
        display: none;
    }

    .say-hello-desktop{
        display: block;
        width: 65vw;
        margin: auto;
    }

}
